#index-body {
  padding-top: 50px;
  font-family: "IBM Plex Sans";
  background-color: #ffdc8e;
}

#generic-body {
  padding-top: 100px;
  font-family: "IBM Plex Sans";
  background-color: #ffdc8e;
}

#sahil {
  /* background-color: #d3d3d3; */
}
