<link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />

<style>
a { text-decoration: None; } 

b { color: black; }

.navbar{
    height: 75px;
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
}
.navbar-default {
    background-color: white;
    
}
#one > li > a {
    margin: 100px 100px;
    /* padding: 6px 7px; */
    text-align: center;
    /* min-width: 70px; */
}
#two  {
    margin: 0px 0px;
    /* padding: 6px 7px; */
    text-align: center;
    /* min-width: 70px; */
}
#three {
    margin: 0px 0px;
    /* padding: 6px 7px; */
    text-align: center;
    /* min-width: 70px; */
}

.navbar .navbar-nav [class^="pe"]{
    font-size: 28px;
    display: block;
}
.navbar .navbar-nav p{
    display:block;

    margin: 0px 0 0;
    font-size: 15px;
}
.navbar-nav > li > a {
    color: black;
}
/* .navbar {margin-bottom: 200px;} */
</style>

<link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
<link href="static/css/ct-navbar.css" rel="stylesheet" />

<nav class="navbar navbar-expand fixed-top" style="background-color: #ffab55;">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left" id="two">  
        <li>
            <a href="/admin" data-toggle="search">
                <b>TigerLink Admin</b>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="one">             
        {% if bold == 'timeline' %}
        <li id="nav-disable">
        {% else %}
        <li>
        {% endif %}
            <a href="/admin/timeline" data-toggle="search">
                <i class="pe-7s-home"></i>
                <p>Timeline</p>
            </a>
        </li>
        {% if bold == 'users' %}
        <li id="nav-disable">
        {% else %}
        <li>
        {% endif %}
            <a href="/admin/users" data-toggle="search">
                <i class="pe-7s-user"></i>
                <p>Users</p>
            </a>
        </li>
        {% if bold == 'matches' %}
        <li id="nav-disable">
        {% else %}
        <li>
        {% endif %}
            <a href="/admin/matches" data-toggle="search">
                <i class="pe-7s-gift"></i>
                <p>Matches</p>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="three"> 
        <li>
           <a href="/">Exit Admin Mode</a> 
        </li>    
    </ul>
</div>
</nav>
