<title>
    TigerLink Admin
</title>
<link rel="shortcut icon" type="image/png" href="../static/img/favicon.png" />

<style>
a { text-decoration: None; } 

b { color: black; }

.navbar{
    height: 75px;
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
}

@media (max-width: 576px) {
    #two {
        align-items: flex-end;
    }

    #two>li {
        width: 60px;
        text-align: center;
    }

    .w-100-sm {
        width: 100% !important;
    }
}
@media (min-width: 576px) {
    #two {
        margin: 0px 0px;
        text-align: center;
    }

    #two>li {
        width: 60px;
        margin: 15px;
    }
}

.navbar .navbar-nav [class^="pe"]{
    font-size: 28px;
    display: block;
}
.navbar .navbar-nav p{
    display:block;
    margin: 0px 0 0;
    font-size: 15px;
}
.navbar-nav > li > a {
    color: black;
}
</style>

<link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
<link href="static/css/ct-navbar.css" rel="stylesheet" />

<nav class="navbar navbar-expand-sm fixed-top navbar-light" style="background-color: #ffab55;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin" data-toggle="search" style="color:#252525">
        TigerLink Admin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-auto" id="two">  
            {% if bold == 'timeline' %}       
            <li id='nav-disable2' class = 'nav-item'>
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a href="/admin/timeline" data-toggle="search">
                    <i class="pe-7s-home"></i>
                    <p>Timeline</p>
                </a>
            </li>
            {% if bold == 'users' %}
            <li id="nav-disable2" class="nav-item">
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a href="/admin/users" data-toggle="search">
                    <i class="pe-7s-user"></i>
                    <p>Users</p>
                </a>
            </li>
            {% if bold == 'matches' %}
            <li id="nav-disable2" class="nav-item">
            {% else %}
            <li class="nav-item">
            {% endif %}
                <a href="/admin/matches" data-toggle="search">
                    <i class="pe-7s-gift"></i>
                    <p>Matches</p>
                </a>
            </li>
        </ul>
        <div class="ms-auto d-flex justify-content-end">
            <a class="btn btn-light" href="/">Exit Admin</a>
        </div>
    </div>
  </div>
</nav>
