{% set allCareers = ['Accounting',
'Aerospace Engineering',
'Architecture',
'Asset Management',
'Chemical Engineering',
'Civil Engineering',
'Commercial Banking',
'Consulting',
'Corporate Finance',
'Electrical Engineering',
'Energy Resources',
'Environmental Affairs',
'Financial Planning',
'Fine Arts',
'Foreign Service',
'Government',
'Health Care',
'Hedge Funds',
'Human Resources',
'Insurance',
'Investment Banking',
'Law',
'Management',
'Marketing',
'Mechanical Engineering',
'Military',
'Performing Arts',
'Policy Analysis',
'Private Equity',
'Product Management',
'Public Relations',
'Radio/TV',
'Real Estate',
'Research & Development',
'Security/Commodities',
'Social Work',
'Software Engineering',
'Teaching',
'Venture Capital',
'Veterinary Medicine'] %}

{% for i in selectedCareers: %}
{{allCareers.remove(i)}}
{% endfor %}

<!-- Include Twitter Bootstrap and jQuery: -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Build your select: -->
<select id="example-getting-started" multiple="multiple">
    <option value="cheese">Cheese</option>
    <option value="tomatoes">Tomatoes</option>
    <option value="mozarella">Mozzarella</option>
    <option value="mushrooms">Mushrooms</option>
    <option value="pepperoni">Pepperoni</option>
    <option value="onions">Onions</option>
</select>

<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect();
    });
</script>