{% set allCareers = ['Accounting',
'Aerospace Engineering',
'Architecture',
'Asset Management',
'Chemical Engineering',
'Civil Engineering',
'Commercial Banking',
'Consulting',
'Corporate Finance',
'Electrical Engineering',
'Energy Resources',
'Environmental Affairs',
'Financial Planning',
'Fine Arts',
'Foreign Service',
'Government',
'Health Care',
'Hedge Funds',
'Human Resources',
'Insurance',
'Investment Banking',
'Law',
'Management',
'Marketing',
'Mechanical Engineering',
'Military',
'Performing Arts',
'Policy Analysis',
'Private Equity',
'Product Management',
'Public Relations',
'Radio/TV',
'Real Estate',
'Research & Development',
'Security/Commodities',
'Social Work',
'Software Engineering',
'Teaching',
'Venture Capital',
'Veterinary Medicine'] %}

{% for i in selectedCareers: %}
{{allCareers.remove(i)}}
{% endfor %}

{% for c in allCareers: %}
<option> {{ c }} </option>
{% endfor %}

<!-- commented 
<option>Software Engineering</option>
<option>Product Management</option>
<option>Accounting</option>
<option>Marketing</option>
<option>Architecture</option>
<option>Consulting</option>
<option>Energy Resources</option>
<option>Chemical Engineering</option>
<option>Civil Engineering</option>
<option>Electrical Engineering</option>
<option>Mechanical Engineering</option>
<option>Aerospace Engineering</option>
<option>Environmental Affairs</option>
<option>Asset Management</option>
<option>Corporate Finance</option>
<option>Hedge Funds</option>
<option>Private Equity</option>
<option>Commercial Banking</option>
<option>Financial Planning</option>
<option>Investment Banking</option>
<option>Security/Commodities</option>
<option>Venture Capital</option>
<option>Foreign Service</option>
<option>Government</option>
<option>Policy Analysis</option>
<option>Health Care</option>
<option>Human Resources</option>
<option>Insurance</option>
<option>Law</option>
<option>Management</option>
<option>Military</option>
<option>Performing Arts</option>
<option>Public Relations</option>
<option>Real Estate</option>
<option>Radio/TV</option>
<option>Research & Development</option>
<option>Social Work</option>
<option>Teaching</option>
<option>Veterinary Medicine</option>
<option>Fine Arts</option>
-->