{% set allCareers = ['Accounting',
'Aerospace Engineering',
'Architecture',
'Asset Management',
'Chemical Engineering',
'Civil Engineering',
'Commercial Banking',
'Consulting',
'Corporate Finance',
'Electrical Engineering',
'Energy Resources',
'Environmental Affairs',
'Financial Planning',
'Fine Arts',
'Foreign Service',
'Government',
'Health Care',
'Hedge Funds',
'Human Resources',
'Insurance',
'Investment Banking',
'Law',
'Management',
'Marketing',
'Mechanical Engineering',
'Military',
'Performing Arts',
'Policy Analysis',
'Private Equity',
'Product Management',
'Public Relations',
'Radio/TV',
'Real Estate',
'Research & Development',
'Security/Commodities',
'Social Work',
'Software Engineering',
'Teaching',
'Venture Capital',
'Veterinary Medicine'] %}

{% for i in selectedCareers: %}
{% if i is in allCareers %}
{{allCareers.remove(i)}}
{% endif %}
{% endfor %}

{% for c in allCareers: %}
<option> {{ c }} </option>
{% endfor %}