<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
    <link rel='stylesheet' type='text/css' href='static/style.css'>

    <!-- Include JQuery, Popper, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel='stylesheet' type='text/css' href='static/style.css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


    {% with bold='matches' %}
    {% include "navbar.html" %}
    {% endwith %}

</head>

<style>
    h5 {
        text-align: center;
    }
    td {
        padding: 10px 18px !important;
    }

    #allRows:hover {
        cursor: pointer;
    }

    .dataTables_filter {
        display: none;
    }
</style>

<body id="generic-body">
    <div class="container">
        <div class="row justify-content-center">
            <!-- col 1 -->
            {% if (matches|length) > 0 %}
            <table class="table table-hover table-responsive verticalScroll" style="display:none;">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Student Year</th>
                        <th>Alumni Name</th>
                        <th>Alumni Year</th>
                        <th>Similarity
                            <img data-toggle="popover" src="../static/img/info.png" width="15" height="auto" alt="">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches: %}
                    {% if (match|length) > 2 %}
                    <tr class="clickable-row shadow" id="allRows" infoStudent='{{match[0]}}' infoAlum='{{match[1]}}'>
                        {% for i in range (2, 7): %}
                        {% if (i == 6) %}
                            <td>
                                {% if match[i] > '80' %}
                                    &#9733;&#9733;&#9733;&#9733;&#9733;
                                {% elif match[i] > '60' %}
                                    &#9733;&#9733;&#9733;&#9733;&#9734;
                                {% elif match[i] > '40' %}
                                    &#9733;&#9733;&#9733;&#9734;&#9734;
                                {% elif match[i] > '20' %}
                                    &#9733;&#9733;&#9734;&#9734;&#9734;
                                {% else %}
                                    &#9733;&#9734;&#9734;&#9734;&#9734;
                                {% endif %}
                            </td>
                        {% else %}
                            <td>{{ match[i] }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="d-flex justify-content-center">
                <h5>
                    <br>
                    Your matches will appear here on the next matching date (June 1st).
                    <br> <br>
                    We'll email you when they're ready!
                </h5>

            </div>
            {% endif %}


            <div class="w-50 justify-content-left">
                <p id="details"></p>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" id="closeMatch" style="display: none" class="btn btn-success">Done</button>
            </div>
        </div>
    </div>

    <div id="detailsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Match Details</h5>
                </div>
                <div class="modal-body" id="detailsBody">
                </div>
                <div class="modal-footer">
                    <a href="#" id="closeDetailsBtn" class="btn btn-success d-block">Done</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        'use strict';

        function handleResponse(response) {
            $('#detailsBody').html(response);
            $('#detailsModal').modal('show');
        }

        let request = null;


        function setup() {
            $('[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'hover',
                title: 'Similarity Rating',
                content: 'The similarity rating quantifies the overlap in majors, careers, and organizations between the student and the alum. It assigns an equal weightage to each of these three categories, although the weighting may be adjusted by the admin.'
            });

            $('#closeDetailsBtn').click(function () {
                $('#detailsModal').modal('hide');
            });

            $('.verticalScroll').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "bInfo": false,
                "initComplete": function () {
                    $(".verticalScroll").show();
                    $("#submit").show();
                    $($.fn.dataTable.tables(true)).DataTable()
                        .columns.adjust();
                },
                // "language": {
                //     "emptyTable": "No results"
                // },
                "pageLength": 10
            });
            $('.dataTables_length').addClass('bs-select');

            $('.clickable-row').click((e) => {

                let student = $(e.target).closest('tr').attr('infoStudent');
                let alum = $(e.target).closest('tr').attr('infoAlum');

                let studentU = encodeURIComponent(student);
                let alumU = encodeURIComponent(alum);

                let url = "/matchdetails?student=" + studentU + "&alum=" + alumU;

                if (request != null)
                    request.abort();

                request = $.ajax({
                    type: 'GET',
                    url: url,
                    success: handleResponse
                });
            });
        }


        $(document).ready(setup);

    </script>
</body>

</html>
