{% set allInterests = ['Accion Latina y Amigos',
'Accion Puertorriquena y Amigos',
'Action for Bosnia',
'Advertising Forum',
'African Graduate Students Network',
'After Hours Cafe',
'Agape Christian Fellowship',
'Air Force ROTC',
'Airs of China',
'Akwaaba',
'American Chemical Society',
'American Field Service',
'American Foreign Policy Magazine',
'American Society of Civil Eng',
'Amnesty International',
'Anime Club',
'Antiquarian Book Society',
'APGA Grad Student Board Member',
'Aquinas Institute',
'Arab Society',
'Arbor Inn',
'Archery',
'Architecture Film Club',
'Art Museum Student Advisory Board',
'Art Museum Student Guides',
'Arts Club',
'Athletes in Action',
'Ballet Folklorico',
'Band',
'Banjo Club',
'Baptist Fellowship',
'Baseball',
'Basic Engineering Society',
'Basketball',
'Belize Partnerships',
'Bible Exploration on Campus',
'Bicker Committee',
'Billards Club',
'Bioethics Forum',
'Black Arts Company',
'Black Graduate Caucus Officer',
'Black Student Union',
'Black Unity',
'BodyHype',
'Bowling Team',
'Boxing Club',
'Bridge Club',
'Brown Food Cooperative',
'Business Today',
'Butler College',
'Butler Committee',
'Butler Yoga',
'Camera Club',
'Campus Advance',
'Campus Club',
'Campus Crusade for Christ',
'Campus Fund Drive',
'Cane Spree Competition',
'Cannon Club',
'Canterbury Club',
'Cap and Gown Club',
'Capoeira',
'Catholic Club',
'Chabad',
'Chamber Choir',
'Chaos Theory Dance Crew',
'Chapel Choir',
'Chapel Deacon',
'Charter Club',
'Cheerleader',
'Chemistry Club',
'Chess Team',
'Chicano Caucus',
'Chinese Institute of Engineers',
'Chinese Students Association',
'Choate Club',
'Christian Science Organization',
'Circle K Society',
'Circle of Women',
'Civil Aeronautics Association',
'Class Day Committee',
'Class Memorial Fund',
'Cloister Inn',
'Club Aikido',
'Club Badminton',
'Club Ballroom Dance',
'Club Baseball',
'Club Basketball',
'Club Climbing',
'Club Cricket',
'Club Croquet',
'Club Cycling',
'Club Equestrian',
'Club Fencing',
'Club Field Hockey',
'Club Gymnastics',
'Club Ice Hockey',
'Club Judo',
'Club Kendo',
'Club Lacrosse',
'Club Platform Tennis',
'Club Polo',
'Club Power Lifting',
'Club Rifle',
'Club Rugby',
'Club Running',
'Club Sailing',
'Club Scuba',
'Club Shotokan Karate',
'Club Skating',
'Club Skeet Team',
'Club Soccer',
'Club Softball',
'Club Squash',
'Club Swimming',
'Club Tae Kwon Do',
'Club Tennis',
'Club Track',
'Club Volleyball',
'Club Yacht',
'Coalition Against Homophobia',
'College Bowl',
'Colombia in Princeton',
'Colonial Club',
'Common Sense',
'Community Associate',
'Community House',
'Comparative Literature Conference',
'Concordia Society',
'Council of International Grad Students',
'Court Club',
'Crew',
'Cross Country',
'Daily Princetonian',
'Debate Panel',
'Debating',
'Democratic Club',
'Dial Lodge',
'Dickinson Hall',
'Digital Humanities Grad Caucus',
'Discipline Committee',
'DiSiac Dance Company',
'Distinguished Citizen Society',
'Distractions Puzzle Magazine',
'DoroBucci',
'Dramatic Club',
'Drill',
'DRISHTI',
'East Timor Action Network',
'Eating Concerns Awareness Coalition',
'Economics Club',
'Elm Club',
'Engineering Council',
'Engineering Society',
'Euphyvian Club',
'Fencing',
'Figure Skating',
'Firehazards',
'Flying Club',
'Football',
'Footnotes',
'Forbes College',
'Forging Fabrication',
'Free Enterprise Society',
'French Club',
'Freshman Council',
'Freshman Football',
'Freshman Herald',
'Freshman Orientation Committee',
'Freshman Singers',
'Gateway Club',
'German Club',
'Giving What We Can',
'Glee Club',
'Glider Club',
'Golf',
'Grad College Superfly Breakfast Club',
'Grad Princeton Evangelical Fellowship',
'Graduate Asian Pacific Islander Caucus',
'Graduate Board Game Club',
'Graduate Christian Fellowship',
'Graduate College House Advisors',
'Graduate College House Committee',
'Graduate Economics Club',
'Graduate Engineering Ambassadors',
'Graduate Engineering Council',
'Graduate Entrepreneurship Forum',
'Graduate Improv Club',
'Graduate Student Government Officer',
'Graduate Women of Color Caucus',
'Grenfell Club',
'GSG Events Board',
'GWISE',
'Hallmark',
'Harmony Club',
'Harrambee House',
'High Steppers',
'Highwire Earth',
'Hindu Student Council',
'Hip Hop Art Life',
'Hispanic Club',
'History Club',
'Hong Kong Student Association',
'Honor Committee',
'Horse Troop',
'Hunting Club',
'Hymn Sing',
'Ice Hockey',
'IEEE',
'Ignite',
'Imhotep',
'Independent',
'Insignia Club',
'Interact Club',
'Interclub Committee',
'International Vision',
'Intersecting Queer Identities',
'Intimate Theater Magazine',
'Intramurals',
'Inventory',
'Ivy Club',
'Ivy Leaguers for Freedom',
'Jacques Maritain Club',
'Jadwin Jungle Club',
'Jamesburg Group',
'Jazz Ensemble',
'Jewish Theater Project',
'JGAP',
'Juggling Club',
'Karate',
'Katzenjammers',
'Key and Seal Club',
'Keyceptor',
'Kindred Spirit',
'Koleinu',
'Lacrosse',
'Lakeside Committee',
'Lakeside Volleyball Club',
'Latin Salutatorian',
'Latino Heritage Month Committee',
'Lawrence Committee',
'LDSSC',
'Liberal Religious Groups',
'Liberal Union',
'Light and Shadows',
'Lightweight Crew',
'Linguistics Club',
'Literary Affiliation',
'Lutheran Club',
'Madison Society',
'Madrigal Group',
'Mandolin Club',
'Manna Christian Fellowship',
'Marathon Club',
'Marbles Club',
'Marine ROTC',
'Mathey College',
'Middle East Alliance',
'Mime Company',
'Minority Affairs Advisers',
'Minority Business Association',
'Mock Trial',
'Mountain Biking Club',
'Mountaineering Club',
'Music Council',
'Naacho',
'Nassau Country Club',
'Nassau Herald',
'Nassau Lit',
'Nassau Magazine',
'Nassau Weekly',
'Nassoons',
'National Council of Negro Women',
'Native Americans at Princeton',
'Navy Club',
'Navy ROTC',
'New Century',
'New Jersey Political Club',
'Night Live',
'Nordic Ski',
'Nubian Rhapsody Group',
'Old NasSoul',
'Orange Key Society',
'Orchestra',
'Organizacion Latino America',
'Orphic Order',
'Orthodox Christian Fellowship',
'Other Religious Groups',
'Other Singing Groups',
'Outdoor Action',
'Outdoor Action Leaders',
'Outing Club',
'OXFAM America',
'Paideia',
'Parachute Club',
'Peer to Peer',
'Pehchaan',
'PERMIAS',
'Philadelphia Society',
'Philosophy Club',
'Pistol Club',
'Polish Club',
'Polity Club',
'Presbyterian Society',
'Press Club',
'Pretentious Art Lovers Society',
'Pride Alliance',
'Prince Magazine',
'Prince of Wales Club',
'Princeton Against Cancer Together',
'Princeton AIDS Awareness',
'Princeton Alumni Weekly',
'Princeton Art Club',
'Princeton Assoc of Chinese Entrepreneurs',
'Princeton Bee Team',
'Princeton Brass Ensemble',
'Princeton Bulletin',
'Princeton Canadians',
'Princeton Caribbean Connection',
'Princeton China Energy Group',
'Princeton Chinese Christian Fellowship',
'Princeton Chinese Theatre',
'Princeton Committee on Palestine',
'Princeton Common Cause',
'Princeton Computer Center Clinic',
'Princeton Disabilities Awareness',
'Princeton Engineers',
'Princeton Environmental Action',
'Princeton European Club',
'Princeton Faith and Action',
'Princeton Fed Challenge',
'Princeton Film Foundation',
'Princeton Filmmakers',
'Princeton Fishing Club',
'Princeton Gallery',
'Princeton Gaming Society',
'Princeton Gospel Ensemble',
'Princeton Grad Student Consulting Club',
'Princeton Graduate Music Society',
'Princeton Green Lung',
'Princeton Hawaii Club',
'Princeton In Beijing',
'Princeton Inn',
'Princeton Japan Club',
'Princeton Journal of Foreign Affairs',
'Princeton Justice Project',
'Princeton Model Congress',
'Princeton Online Games Organization',
'Princeton Pacific Asia Review',
'Princeton Performing Arts Council',
'Princeton Pianists Ensemble',
'Princeton Pictorial',
'Princeton Planetary Society',
'Princeton Poker Society',
'Princeton Racing Electric',
'Princeton Refugee Project',
'Princeton Research Symposium',
'Princeton Review',
'Princeton Road Runners',
'Princeton Round Table',
'Princeton SACNAS Chapter',
'Princeton Salsa Club',
'Princeton Senate',
'Princeton Shakespeare Company',
'Princeton Slavic Club',
'Princeton South Asian Theatrics',
'Princeton Spectator',
'Princeton Student Television Network',
'Princeton Students for Free Tibet',
'Princeton Summer Camp',
'Princeton Swing Club',
'Princeton Tango Club',
'Princeton Texans',
'Princeton Tory',
'Princeton University Ballet',
'Princeton University Brewers',
'Princeton University Folk Society',
'Princeton University Georgian Choir',
'Princeton University Mentor Program',
'Princeton University Players',
'Princeton University Wind Ensemble',
'Princeton Unix Users Group',
'Priorities Committee',
'Prom Committee',
'Prospect Club',
'Psychology Club',
'Quadrangle Club',
'Quaker Bridge Club',
'Queer Graduate Caucus',
'Quipfire Players',
'Red Cross Swimming Program',
'Republican Club',
'Resident Advisor',
'Residential College Council',
'Response Speakers Program',
'Rhythms',
'Right Wing Club',
'Rise Up',
'Rockefeller College',
'Rod and Gun Club',
'Romanians at Princeton',
'Roosevelt Coalition Club',
'ROTC',
'ROTC Rangers Club',
'RUMI Club',
'Russian Club',
'Savoyards',
'SCA Cabinet',
'Scientific Society',
'Scrub Football',
'Senior Council',
'Shadows',
'Shere Khan',
'Sikhs of Princeton',
'Ski Club',
'Slow Food',
'Soccer',
'Society of Women Engineers',
'Softball',
'South East Asia Initiative',
'Southern Baptists',
'Sovereign',
'Spanish Club',
'Speak Out',
'Speakers Bureau',
'Sports Car Club',
'Sprint Football',
'Squash',
'STARS',
'Stevenson Hall',
'Student Agency',
'Student Blood Drive Committee',
'Student Center Committee',
'Student Christian Association',
'Student Employment Bureau',
'Student Friends of Art Museum',
'Student Global AIDS Campaign',
'Student Health Advisory Board',
'Student Tutoring Association',
'Student Volunteers Council',
'Students Against Domestic Violence',
'Students of Caribbean Ancestry',
'Studied Dance',
'Summer Camp Staff',
'SURGE',
'Sustained Dialogue on Race',
'Swimming',
'Sympoh',
'Table Tennis',
'Tai Chi Club',
'Take Back The Night',
'Tap Cats',
'Tau Beta Pi',
'Tennis',
'Terrace Club',
'The Anscombe Society',
'The Baking Club',
'The Club',
'The Entrepreneurship Club',
'The Game',
'The Princeton Eclectic',
'The Princeton Spigot',
'The Prism',
'The Progressive Review',
'The Vigil',
'The Weekender',
'The Wildcats',
'Theatre Intime',
'Thingira',
'Third World Center',
'Tiger Blacknotes',
'Tiger Call',
'Tiger Inn',
'Tiger Magazine',
'Tigerlilies',
'Tigers With Cubs',
'Tigertones',
'Tigervision',
'Tigressions',
'Tower Club',
'Track',
'Trenton Tutorial Project',
'Trinity Project',
'Tuesday Evening Club',
'Turkish Society',
'Undergrad Advisory Committee',
'Undergrad Class Council',
'Undergrad Class Historian',
'Undergrad Class Poet',
'Undergrad Class President',
'Undergrad Class Secretary',
'Undergrad Class Treasurer',
'Undergrad Class Vice President',
'Undergrad Schools Committee',
'Undergrad Student Government',
'Undergrads for Stable America',
'Undergraduate Council Staff',
'Undergraduate Trustee',
'Unitarian Universalist Campus Ministry',
'United Jewish Appeal',
'University Club',
'University Cottage Club',
'University Film Organization',
'University Players',
'University Scholar Program',
'University Store Trustee',
'Varsity Club',
'Veterans Club',
'Voices of Africa',
'Volleyball',
'Waterpolo',
'Wesley Society',
'Westchester Club',
'Western Pennsylvania Club',
'Westminster Choir Cabinet',
'Westminster Foundation',
'Whitman College',
'Wilson College',
'Wine Tasters',
'Women in Design and Architecture',
'Woodrow Wilson Action Committee',
'Woodrow Wilson Society',
'World Federalist',
'WPRB Radio',
'Wrestling',
'Yavneh House'] %}




{% for i in selectedInterests: %}
{{allInterests.remove(i)}}
{% endfor %}

{% for i in allInterests: %}
<option>{{ i }}</option>
{% endfor %}


<!-- commented 
<option>Christian Fellowship</option>
<option>ROTC</option>
<option>Engineering Society</option>
<option>Whig-Cliosophic Society</option>
<option>Athletic Organization</option>
<option>Dance Group</option>
<option>Business Today</option>
<option>Cannon</option>
<option>Cap & Gown</option>
<option>Choir & Chorus</option>
<option>Academic Club</option>
<option>Women Empowerment</option>
<option>Minority Advocacy</option>
-->