{% set allInterests = ["180 Degrees Consulting",
"2-D Co-op",
"3D Printing",
"ACM Group, Princeton",
"Acts of Kindess Initiative",
"African Students Association (PASA)",
"Aikido Club",
"Alabaster Princeton",
"Albania-Kosovo Association",
"Alcohol Initiative",
"All-Nighter",
"Alliance of Jewish Progressives",
"Alpha Omega Ministry Student Group",
"American Institute of Chemical Engineers",
"American Physician Scientists Association",
"American Sign Language Club, Princeton University ",
"American Society of Civil Engineers (ASCE) Princeton ",
"Anime-Manga Princeton",
"Anscombe Society",
"Aquinas",
"Arab Society Of Princeton",
"Arch and Arrow",
"Archery",
"Armenian Club",
"Art Collective, Princeton University",
"Asian Student Athletes of Princeton ",
"Asian-American Students Association",
"Association of Black Women, Princeton ",
"Astra",
"Athlete Ally",
"Athletes in Action",
"Augmented Reality/Virtual Reality Club",
"Autonomous Vehicle Engineering, Princeton ",
"Backgammon Club",
"Badminton ",
"Ballet, Princeton University",
"Ballroom Dance",
"Band, Princeton University",
"Baptist Student Fellowship",
"Baseball ",
"Basketball (M)",
"Basketball (W)",
"Be Positive Princeton",
"Beatbox Tigers",
"Bee Team, Princeton",
"Bengal Tigers, Princeton University",
"Bhangra, Princeton",
"Bible Exploration",
"Biological Sciences Society",
"Black Arts Company-Dance",
"Black Arts Company-Drama",
"Black Premedical Society",
"Black Student Union",
"Black Student-Athlete Collective",
"Blase",
"BodyHype",
"Botany Club",
"Brazil Society",
"Brazilian Jiu Jitsu",
"The Bread-fast Club",
"Bridge Club",
"Brown Food Cooperative",
"Bulgarian Undergraduate Society",
"Business Today",
"CJL Play",
"Camp Kesem Princeton",
"Canadian Club, Princeton",
"Cannon Club",
"Cap and Gown Club",
"Caribbean Connection, Princeton ",
"Center for Jewish Life Student Board",
"Chabad",
"Challah for Hunger",
"Chapel Choir",
"Charter Club",
"Cheese and Bad Movies Club",
"Chess Club",
"Child's Play Improv Comedy",
"Chinese Language Group",
"Chinese Music Ensemble",
"Chinese Students Association",
"Chinese Theatre, Princeton",
"Christian Science Organization",
"Christian Union Nova",
"Class of 2021",
"Class of 2022",
"Class of 2023",
"Class of 2024",
"Classics Club",
"Climbing ",
"Cloister Inn",
"Co-Lab",
"College Democrats",
"College Republicans",
"Colonial Club",
"Committee on Bipartisanship",
"Committee on Palestine, Princeton",
"Common Cents",
"Composers Collective, Undergraduate",
"Conservation Society, Princeton",
"Corporate Finance, Princeton",
"Cottage Club",
"Cricket ",
"Cube Club, Princeton",
"Cycling",
"The Daily Princetonian",
"Data Science Club ",
"Debate Panel",
"Decem",
"diSiac Dance Company",
"The Doorstep",
"DoroBucci",
"Dunder Mifflin Princeton",
"E-Club: Alimtas Bioventures",
"E-Club: Alumni Outreach",
"E-Club: HackPrinceton",
"E-Club: IgniteSTEM",
"E-Club: Make Ventures Princeton",
"E-Club: New York TigerTrek",
"E-Club: Output",
"E-Club: Profiles in Entrepreneurship",
"E-Club: Rehack",
"E-Club: Silicon Valley TigerTrek",
"E-Club: TigerLaunch",
"E-Club: TigerTables",
"E-Club: Tigers in Product",
"E-Club: Women in Entrepreneurship",
"East West Theater, Princeton",
"Eastern European Scholars Society",
"Election Research Group",
"Ellipses",
"Energy Association",
"Engineering Council",
"Entrepreneurship Club",
"Envision",
"Equestrian ",
"eSports, Princeton",
"European Horizons at Princeton",
"Expressions Dance Company",
"FIRST@Princeton",
"FIRSTBASS",
"Farmers Market, Princeton University",
"Fencing",
"Field Hockey",
"figments Magazine",
"Figure Skating",
"Film Productions, Princeton",
"Film Society, Princeton ",
"Finding the Match",
"Fine Foods & Fermentation Club",
"Fire Hazards",
"First-Generation Low Income Council (FLiC)",
"Flag Football",
"Footnotes",
"Foundations: A Journal of Critical Thought",
"Fuzzy Dice",
"Garden Project",
"Genesis",
"Geoscience Society",
"German Association, Princeton",
"Global Health Alliance",
"Golf",
"Gospel Ensemble",
"Greening Dining",
"Gymnastics Club",
"Hawaii Club",
"Hecate Society",
"High Steppers",
"Hip Hop Empowerment Conference Planning Committee",
"Hoagie.io",
"Hong Kong Students Association",
"Hoop Zine",
"Humans of Princeton",
"I'm Not Done Yet Club",
"IRC: International Relations Council",
"Ice Hockey ",
"Innovation Princeton Journal of Science",
"Institute for Chocolate Studies",
"Inter Co-op Outreach",
"International Food Co-op (IFC)",
"International Princeton",
"International Spelling Olympiad",
"Irish Dance Company",
"Israel TigerTrek",
"Ivy Club",
"The Italian Society",
"J Street U Princeton",
"J-Asians",
"J-Lats",
"Japanese Students Association",
"Journal of Bioethics, Princeton",
"JuST",
"Juggling, Princeton",
"Karaoke Club",
"Kardashian Lifestyle Klub",
"Katzenjammers",
"Kesher",
"Kindred Spirit",
"KoKo Pops",
"Koach",
"Koleinu",
"Korean Students Association of Princeton",
"Krav Maga Association, Princeton",
"Kurdish Society",
"LEDA Scholars at Princeton",
"LGBTQ*J",
"LGBTQ*J",
"La Vie en Cello",
"Lacrosse (M)",
"Lacrosse (W)",
"Language Project, Princeton University",
"Latino Medical Students Association + PU",
"Latinx Perspectives Organization (PULPO) Princeton University",
"Lego Club",
"Letterpress, Princeton University",
"Letters to Strangers",
"Liars' Club, Princeton",
"Libertarians, Princeton",
"Literary Ladies",
"Lobster Club",
"Lot 49 Immersive Theater",
"MASJID (Muslim Advocates for Social Justice)",
"Macedonian Association, Princeton University (PUMA)",
"Magic: The Gathering",
"Magician's Club",
"Makers Collective",
"Malaysian and Singapore Student Association",
"Manna Christian Fellowship",
"Mas Flow",
"Materials Research Society, Princeton ",
"Mathematics Club",
"Midwestern Society, The",
"Minecraft Club",
"Minority Association of Pre-Health Students",
"The Minority Pre-Law Association",
"Mock Trial",
"Model Congress, Princeton",
"Murray-Dodge Cafe",
"Muslim Student Association",
"Naacho",
"Nassau Literary Review",
"Nassau Weekly",
"Nassoons",
"National Society of Black Engineers",
"Natives at Princeton",
"Nepali Society",
"Network of Enlightened Women (NeW)",
"Neuroscience Network, Princeton",
"New Zealand Club",
"The Noir Film Club",
"Non-Traditional Students of Princeton",
"OPUS",
"Old NasSoul",
"One for the World",
"Open Campus Coalition, Princeton",
"Opera Company, Princeton",
"Orange Pan-Hellenic Association",
"Orientation Leader Group",
"Orthodox Christian Fellowship",
"Our Health Matters",
"PICASSO",
"PU Steel Ensemble",
"PUZZLES",
"Pace Center for Civic Engagement",
"Panel to the People",
"Pehchaan",
"Percussion Players Ensemble, Princeton",
"Performing Arts Council",
"Pianists Ensemble, Princeton",
"Ping Pong League",
"Players, Princeton University",
"The Playwright's Guild",
"Poker Club, Princeton",
"Policy Punchline",
"Polish Society",
"The Polyglot Society",
"The Pool Club",
"Powerlifting",
"Pre-Law Society, Princeton University",
"Pre-Veterinary Society, Princeton",
"Pride Alliance",
"Princeton Acapellago",
"Princeton Against Gun Violence",
"Princeton Against Slavery & Trafficking",
"Princeton Astronomy Club",
"Princeton Audio Workstation (PAW)",
"Princeton Auditory Visual Society",
"Princeton Baking Club",
"Princeton Birding Society",
"Princeton Black Men's Association",
"Princeton Body Positivity",
"Princeton Calisthenics",
"Princeton Camerata",
"Princeton Christian Fellowship",
"The Princeton Coptic Society",
"The Princeton Corporate Sustainability Initiative",
"Princeton Culinary",
"Princeton Curling Club",
"The Princeton Dialogue",
"The Princeton Diplomat",
"Princeton Disability Awareness",
"Princeton Disability Collective",
"Princeton Effective Altruism",
"Princeton Electronica",
"Princeton Environmental Activism Coalition (PEAC)",
"Princeton Environmental Ideathon Leadership Team",
"Princeton Ethiopian and Eritrean Students Association (PEESA)",
"Princeton Federalist Society",
"Princeton Filipino Community",
"Princeton Guitar Club",
"Princeton HOSA: Future Health Professionals",
"Princeton Hindu Satsangam",
"Princeton Indigenous Advocacy Coalition",
"Princeton Jeopardy Circuit",
"Princeton K-Pop Society",
"Princeton Latin American Student Association",
"Princeton Leaders in Christ",
"Princeton Legal Journal",
"Princeton MediHack",
"Princeton Partners in Health Engage",
"Princeton Peer Nightline",
"Princeton Perspective Project",
"Princeton Plays",
"Princeton Political Review",
"Princeton Pops",
"Princeton Presbyterians",
"Princeton Progressive, The",
"Princeton Quantum Computing",
"Princeton ResInDe",
"Princeton Rocketry Club",
"Princeton SAAPS",
"Princeton Saudi Society",
"Princeton Science of Psychedelics Club",
"Princeton Soccer Appreciation Club",
"Princeton Society for Engineering Ethics",
"Princeton Society of Philosophy",
"Princeton Society of Physics Students",
"Princeton Spokes",
"Princeton Student Climate Initiative",
"Princeton Student Veteran's Alliance",
"Princeton Students Against Gerrymandering",
"Princeton Students United Restoration Foundation",
"Princeton Students for Data Rights",
"Princeton Students for Immigrant Empowerment",
"Princeton Studios: Princeton University Film Festival",
"Princeton Tonight",
"Princeton Transfer Association",
"Princeton Tunisian Society",
"Princeton UNA-USA",
"Princeton Undergraduate Research Journal",
"Princeton University Baha'i Club",
"Princeton University Christian Community Council",
"Princeton University Girl Up Club",
"Princeton University Gun Safety",
"Princeton University Latter Day Saints Student Association",
"Princeton University Nonprofit Consulting",
"Princeton University Pluralist Society",
"Princeton Varsity Athlete Pre-Medical Society",
"Princeton Vegan Society",
"Princeton Vexillological Society",
"Princeton Women in Aeronautics and Astronautics",
"Princeton Women in Economics & Policy",
"Princeton Women's Alliance ",
"Princeton for Health Literacy and Equity",
"Princeton for North Korean Human Rights (PNKHR)",
"Princeton for Palliative Care",
"Principedia",
"Pro-Life, Princeton",
"Projects Board",
"Public Health Review",
"Quadrangle Club",
"Quest Scholars Network, Princeton",
"Quipfire! Improv Comedy",
"Quiz Bowl",
"Racing Electric, Princeton",
"Radio Control Club, Princeton",
"Raqs: Princeton Belly Dance Company",
"Real Estate, Princeton",
"Redefine Her Street",
"Relay for Life at Princeton",
"Religious Life Council",
"Rise Up Princeton",
"Roaring 20",
"Robotics Club",
"Rock Ensemble, Princeton University",
"Romanian Students & Scholars",
"Rugby (M)",
"Rugby (W)",
"Running ",
"Russian Undergraduate Students Association",
"SPLASH",
"Sailing",
"Scandinavian Club",
"Scholars of Finance",
"Science Olympiad",
"Scully Coop",
"Service in Style",
"Shakespeare Company, Princeton",
"Shantopia: Sea Shanty Club",
"Shere Khan",
"Sikhs of Princeton",
"Simulation Games Union",
"Six14 Christian Dance Company",
"Skiing ",
"Soccer (M)",
"Soccer (W)",
"Social Sustainability",
"Society for African Internationals at Princeton",
"Society of Hispanic Professional Engineers",
"Society of Women Engineers",
"Softball ",
"Songline",
"Songwriters Society, Princeton ",
"South Asian Progressive Alliance",
"South Asian Students Association",
"South Asian Theatrics, Princeton (PSAT)",
"Spanish Debate Society",
"Speak with Style",
"Spectator, Princeton",
"Spoon",
"Sports Analytics, Princeton",
"Squash",
"Stripe Magazine",
"Stripes, The",
"Student Events Committee",
"Student Health Advisory Board",
"Students for Gender Equality, Princeton",
"Students for Prison Education, Abolition & Reform",
"Students for Reproductive Justice",
"Students for Sensible Drug Policy (SSDP)",
"Students vs. Pandemics",
"Students' Speaker Initiative ",
"Styling Society",
"Sustainable Engineering and Development Scholars (SEADS)",
"Swara",
"Swimming",
"Sympoh",
"TAMID",
"TAPCATS",
"THAIGERS: Thai Students' Association",
"Table Tennis",
"Tae Kwon Do",
"Taiwanese American Students Association",
"Tango Club, Princeton",
"Tarana",
"Tau Beta Pi",
"Technology in Public Policy",
"Tennis",
"Terrace Club",
"Theatre Intime",
"Tiger Anchor Society",
"Tiger Capital Management",
"Tiger Equity Group",
"Tiger Inn",
"Tiger Investments",
"Tiger Magazine",
"TigerTop",
"TigerTrends ",
"Tigerlilies, The",
"Tigers for Israel",
"Tigers for Nassau",
"Tigertones, The Princeton",
"Tigressions, The",
"Tora Taiko, Princeton",
"Tory, Princeton",
"Tower Club",
"Triangle Club",
"Triple 8 Dance Company",
"Turkish Students Association",
"Turning Point USA",
"UNICEF Princeton",
"US-China Coalition, Princeton University",
"USG Social Committee",
"Ultimate Frisbee (M)",
"Ultimate Frisbee (W)",
"Undergrad Women in Physics",
"Undergraduate Student Government (USG)",
"United World Colleges Club of Princeton",
"University Press Club",
"VTone",
"The Veritas Forum at Princeton University",
"Vietnamese Students Association",
"Volleyball (M)",
"Volleyball (W)",
"WPRB",
"Whig-Cliosophic Society, American",
"Wildcats, The",
"Woke Wednesdays",
"Women in Business, Princeton",
"Women in Computer Science, Princeton",
"Worship House",
"Wounded Tigers Network",
"Wym'onStage",
"Yavneh ",
"Young Democratic Socialists"] %}


{% for i in selectedInterests: %}
{% if i is in allInterests %}
{{allInterests.remove(i)}}
{% endif %}
{% endfor %}

{% for i in allInterests: %}
<option>{{ i }}</option>
{% endfor %}


<!-- commented 
<option>Christian Fellowship</option>
<option>ROTC</option>
<option>Engineering Society</option>
<option>Whig-Cliosophic Society</option>
<option>Athletic Organization</option>
<option>Dance Group</option>
<option>Business Today</option>
<option>Cannon</option>
<option>Cap & Gown</option>
<option>Choir & Chorus</option>
<option>Academic Club</option>
<option>Women Empowerment</option>
<option>Minority Advocacy</option>
-->