<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
  crossorigin="anonymous"></script>

  <link rel='stylesheet' type='text/css' href='static/style.css'>

  <style>
    .selected {
        background: #ffdc8e;
    }
  </style>
</head>

<body style="background-color: #e8f4f8;">
  {% include "admin-navbar.html" %}

  <br>
  <div class="container card bg-light border-light shadow mb-5">
  <div class="card-body">
    <h2>Current Matches</h2>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Student Name</th>
          <th scope="col">Student Year</th>
          <th scope="col">Alumnus Name</th>
          <th scope="col">Alumnus Year</th>
          <th scope="col">Similarity</th>
        </tr>
      </thead>
        <tbody>
            {% for match in matches: %}
                        {% if (match|length) > 2 %}
                            <tr class="clickable-row" id='{{match[0]}}' value='{{match[1]}}'>
                            {% for i in range (2, match|length): %}
                              {% if (i == 6) %}
                                <td>{{ match[i] }}%</td>
                              {% else %}
                                <td>{{ match[i] }}</td>
                              {% endif %}
                            {% endfor %}
                            </tr>
                        {% endif %}
                        <per id="details"></per>
                    {% endfor %}
        </tbody>
    </table>

    <div class="d-flex">
        <a class="btn btn-primary me-1" id="creatematches" href="#">Automatic Match</a>
        <button class="btn btn-warning" id="manualmatch">Manual Match</button>
        <a class="btn btn-danger ms-auto" id="deletematches" href="#">Delete All</a>
    </div>
  </div>
  </div>

  <div id="successModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                  New matches successfully created! Click Continue to see all current matches
                  between students and alumni.
                </div>
                <div class="modal-footer">
                    <a href="/admin/matches" class="btn btn-primary mx-auto d-block">Continue</a>
                </div>
            </div>
        </div>
  </div>

  <div id="failureModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Error</h5>
                </div>
                <div class="modal-body">
                  Something went wrong when trying to edit matches in the server. Please contact the TigerLink
                  developers for support.
                </div>
                <div class="modal-footer">
                    <a href="/admin/matches" class="btn btn-secondary mx-auto d-block">Continue</a>
                </div>
            </div>
        </div>
  </div>

  <div id="warningModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Confirm</h5>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete all matches? This cannot be undone.
                </div>
                <div class="modal-footer">
                    <a href="#" id="deleteConfirmBtn" class="btn btn-danger d-block">Yes</a>
                    <a href="/admin/matches" class="btn btn-secondary d-block">No</a>
                </div>
            </div>
        </div>
  </div>

  <div id="detailsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Match Details</h5>
                </div>
                <div class="modal-body" id="detailsBody">
                </div>
                <div class="modal-footer">
                    <button id="deleteMatchBtn" class="btn btn-danger mr-auto">Delete</button>
                    <button id="closeDetailsBtn" class="btn btn-success">Done</button>
                </div>
            </div>
        </div>
  </div>

  <div id="manualModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose New Match</h5>
                </div>
                <div class="modal-body" id="manualBody">
                    <div style="max-height: 250px; overflow-y: scroll;">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50%">Student</th>
                            <th>Matches</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr class="manual-student" id="{{ student[0] }}">
                            <td>{{ student[1] }}</td>
                            <td>{{ student[8] }} / {{ student[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>

                    <p class="text-center"><strong>Match With:</strong></p>

                    <div style="max-height: 250px; overflow-y: scroll;">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 50%">Alumnus</th>
                            <th>Matches</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alum in alumni %}
                        <tr class="manual-alum" id="{{ alum[0] }}">
                            <td>{{ alum[1] }}</td>
                            <td>{{ alum[8] }} / {{ alum[6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="manualCancelBtn" class="btn btn-secondary mr-auto">Cancel</button>
                    <button id="manualSaveBtn" class="btn btn-primary disabled">Save</button>
                </div>
            </div>
        </div>
  </div>

  <script>
    "use strict";

    let request = null;

    function handleResponse(response) {
        $('#detailsBody').html(response);
        $("#detailsModal").modal('show');
    }

    let currStudent = "";
    let currAlum = "";

    function setup() {
        let successModal = new bootstrap.Modal(document.getElementById('successModal'), {
            keyboard: false
        });

		let failureModal = new bootstrap.Modal(document.getElementById('failureModal'), {
			keyboard: false
		});

        let warningModal = new bootstrap.Modal(document.getElementById('warningModal'), {
            keyboard: false
        });

        let createBtn = document.getElementById("creatematches");
        createBtn.onclick = function() {
            $.post("/admin/creatematches")
                .done(function() { successModal.show(); })
                .fail(function() { failureModal.show(); });
        };

        let deleteBtn = document.getElementById("deletematches");
        deleteBtn.onclick = function() {
            warningModal.show();
        };

        let deleteConfirmBtn = document.getElementById("deleteConfirmBtn");
        deleteConfirmBtn.onclick = function() {
            $.post("/admin/deletematches")
                .done(function() { location.reload(); })
                .fail(function() { failureModal.show(); });
        };

        let modalBtn = document.getElementById("closeDetailsBtn");
        modalBtn.onclick = function() {
            $("#detailsModal").modal('hide');
        }

        $('.clickable-row').click(
            (e) => {
                let student = $(e.target).closest('tr').attr('id');
                let alum = $(e.target).closest('tr').attr('value');

                let studentU = encodeURIComponent(student);
                let alumU = encodeURIComponent(alum);
                currStudent = studentU;
                currAlum = alumU;

                let url = "/matchdetails?student=" + studentU + "&alum=" + alumU;
                console.log(url);

                if (request != null)
                    request.abort();

                request = $.ajax({
                    type: 'GET',
                    url: url,
                    success: handleResponse
                });
            }
        );

        $('#deleteMatchBtn').click((e) => {
            $.post("/admin/deletematch", {studentid: currStudent, alumid: currAlum})
                .done(function() { location.reload(); })
                .fail(function() { failureModal.show(); });
        });

        $('#manualmatch').click(() => {
            $('#manualModal').modal('show');
            currStudent = "";
            currAlum = "";
            $('#manualSaveBtn').addClass('disabled');
        });

        $('#manualCancelBtn').click(() => {
            $('#manualModal').modal('hide');
        });

        $('.manual-student').click((e) => {
            $('.manual-student').removeClass('selected');
            let row = $(e.target).closest('tr');
            row.addClass('selected');
            currStudent = row.attr('id');

            if(currStudent.length > 0 && currAlum.length > 0) {
                $('#manualSaveBtn').removeClass('disabled');
                console.log('yes');
            }
        });

        $('.manual-alum').click((e) => {
            $('.manual-alum').removeClass('selected');
            let row = $(e.target).closest('tr');
            row.addClass('selected');
            currAlum = row.attr('id');

            if(currStudent.length > 0 && currAlum.length > 0) {
                $('#manualSaveBtn').removeClass('disabled');
                console.log('yes');
            }
        });

        $('#manualSaveBtn').click((e) => {
            $.post("/admin/manualmatch", {studentid: currStudent, alumid: currAlum})
                .done(function() { location.reload(); })
                .fail(function() { failureModal.show(); });
        });
    }

    $(document).ready(setup);
  </script>
</body>
</html>
