<img src="{{ student._propic }}" class="rounded img-thumbnail mx-auto d-block"></img>
<table class="table">
<tbody>
    <tr>
        <td style="width: 30%"><strong>Name:</strong></td>
        <td>{{ student._name }}</td>
    </tr>
    <tr>
        <td><strong>Class Year:</strong></td>
        <td>{{ student._year }}</td>
    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td>{{ student._email }}</td>
    </tr>
    <tr>
        <td><strong>Major:</strong></td>
        <td>{{ student._major }}</td>
    </tr>
    <tr>
        <td><strong>Desired Number of Matches:</strong></td>
        <td>{{ student._numMatch }}</td>
    </tr>
    <tr>
        <td><strong>Careers:</strong></td>
        <td>
            {% for career in range(student._careers|length -1) %}
                {{ student._careers[career] }}, 
            {% endfor %}
            {{ student._careers[-1] }}
        </td>
    </tr>
    <tr>
        <td><strong>Communities:</strong></td>
        <td>
            {% for community in range(student._communities|length -1) %}
                {{ student._communities[community] }},
            {% endfor %}
            {{ student._communities[-1] }}
        </td>
    </tr>
</tbody>
</table>
