<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="static/css/ct-navbar.css" rel="stylesheet" />

    <!-- Meta tag for number of posts -->
    <meta id="num-posts" data-name="{{posts|length}}">
    <meta id="more-posts" data-name="{{more_posts}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {% with bold='timeline' %}
    {% include "navbar.html" %}
    {% endwith %}

</head>

<script>
    "use strict";

    let request = null;

    function handleResponse(response) {
        $('#detailsBody').html(response);
        $('#detailsModal').modal('show');
    }

    function setup() {

        $('[data-toggle="popover"]').each( function() {
        $(this).popover({ 
            placement: 'right',
            trigger: 'hover',
            content: 'Visible to only: ' + $(this).attr('privacy'),
        });
        });

        // pull firstLogin from URL
        const queryString = window.location.search;
        // console.log(queryString);
        const urlParams = new URLSearchParams(queryString);
        const firstLogin = urlParams.get('firstLogin')
        //console.log(firstLogin)

        var myModal = new bootstrap.Modal(document.getElementById('firstTimeUser'), {
            keyboard: false
        })

        // show if URL includes firstLogin as 'True'
        if (firstLogin == 'True') {
            myModal.show()
        }

        $('#closeDetailsBtn').click(function () {
            $('#detailsModal').modal('hide');
        });

        $('.profile').click((e) => {
            let profileid = $(e.target).closest('a').attr('profileID');
            let profileidU = encodeURIComponent(profileid);

            let url = "/genericdetails?profileid=" + profileidU;
            if (request != null)
                request.abort();

            request = $.ajax({
                type: 'GET',
                url: url,
                success: handleResponse
            });
        });
    };



    function forwardResults() {
        var numPage = 5;
        let request = null;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var offset = urlParams.get('offset')
        if (offset === null) {
            offset = 0; // may need to update
        }
        else {
            offset = parseInt(offset) // note: keep this consistent with the limit
        }

        offset += numPage;
        window.location.href = '/timeline?offset=' + offset;
    };

    function backwardResults() {
        var numPage = 5;
        let request = null;
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var offset = urlParams.get('offset')
        if (offset === null) {
            offset = 0; // may need to update
        }
        else {
            offset = parseInt(offset) // note: keep this consistent with the limit
        }

        offset -= numPage;
        offset = Math.max(0, offset)
        window.location.href = '/timeline?offset=' + offset;
    };
    $(document).ready(setup);
</script>

    

<style>
    body {
        padding-top: 65px;
    }

    .profile:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    .profile h5 {
        color: black;
    }
    .card-img-top {
    width: 100%;
    max-height: 25vw;
    object-fit: cover;
    display: block;

    }
    #imagemodal {
    text-align:center;
}
    #image-dialog {
        display: inline-block;
        width: auto;
    }



</style>

<body id="generic-body">

    <!-- <a href="#" id="pop">
        <img id="imageresource" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" style="width: 400px; height: 264px;">
        Click to Enlarge
    </a> -->
    

    <!-- Image and Post Modal -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="image-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div> -->
            <img src="" class="img-responsive" id="imagepreview" style="max-width: 500px; max-height: 500px;" >
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>            </div>
        </div>
        </div>
    </div>


    <!-- postid TEXT, authorname TEXT, authorid TEXT, posttime TEXT, posttitle TEXT, postcontent TEXT, imgurl TEXT, privacy TEXT, communities TEXT -->
    {% for res in posts: %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-2 col-12 offset-md-1 offset-xl-2" style="display: block">
                    <a class="profile d-none d-md-block" profileID="{{ res[1] }}" style="text-align: center;">
                        <img src={{res[9]}} style="width: 100%; max-width: 70px;" class="rounded-circle"
                            onerror="this.style.display='none'">
                        <br>
                        <br>
                        <h5 style="text-align: center;">{{res[2]}}</h5>
                    </a>
                    <a class="profile d-block d-md-none m-2" profileID="{{ res[1] }}">
                        <img src={{res[9]}} style="width: 100%; max-width: 70px; display: inline;" class="rounded-circle"
                            onerror="this.style.display='none'">
                        <h5 style="text-align: center; display: inline;" class="ms-2">{{res[2]}}</h5>
                    </a>
            </div>
            <div class="col col-md-6 col-xl-4" style="display: block;">
                <div class="card bg-light shadow p-3 mb-5 bg-white rounded">                  
                    <img src={{res[6]}} id="my_image" class="card-img-top" onerror="this.style.display='none'">
                    <div class="card-body">
                        <div class="card-title h5">{{res[4]}} 
                            {% if res[7] == 'private' %}
                            <img data-toggle="popover" privacy="{{ res[8] }}" src="../static/img/lock.png" width="15" height="auto" alt="">
                            {% endif %}
                            {% if res[7] == 'student' %}
                            <img data-toggle="popover" privacy="Students" src="../static/img/lock.png" width="15" height="auto" alt="">
                            {% endif %}
                            {% if res[7] == 'alum' %}
                            <img data-toggle="popover" privacy="Alumni" src="../static/img/lock.png" width="15" height="auto" alt="">
                            {% endif %}
                        </div>
                        <div class="mb-2 text-muted card-subtitle h6">{{res[3]}}</div>
                        <div class="mb-2 h6" style="white-space:pre-wrap; text-indent: 0px;">{{res[5]}}</div>
                        <!--Show the delete button if the user authored the post-->
                        <div class="d-flex mt-3">
                            {% if (profileid != res[1]) %}
                            <button class="btn btn-danger ms-auto reportBtn" id="{{res[0]}}">Report</button>
                            {% endif %}
                            {% if (profileid == res[1]) %}
                            <button class="btn btn-danger ms-auto deleteBtn" id="{{res[0]}}">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <!--Show this section using jQuery-->
    <div class="text-center" id="endresults" style="display:none">
        <h5>End of results.</h5>
        <br>
    </div>
    <div class="text-center">
        <button type="submit" name="submit" id="prev" onclick="backwardResults()" style="display:none;"
            class="btn btn-warning text-center">Previous Page</button>
        <button type="submit" name="submit" id="next" onclick="forwardResults()" style="display:none;"
            class="btn btn-warning text-center">Next Page</button>
        <br>
        <br>
    </div>


    <script>
        function setup() {

            $('.card-img-top').click(function() {
                $('#imagepreview').attr('src', $(this).attr('src')); // here asign the image to the modal when the user click the enlarge link
                $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
            });

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            var offset = urlParams.get('offset')
            if (offset === null || offset <= 0) {
                $("#prev").hide();
            }
            else {
                $("#prev").show();
            }
            var numPosts = $('#num-posts').data();
            var morePosts = $('#more-posts').data();
            if (numPosts.name < 5 || morePosts.name == 'False') {
                $("#next").hide();
                $("#endresults").show();
            }
            else {
                $("#next").show();
            }
            $('.deleteBtn').click((e) => {
                let postid = $(e.target).attr('id');
                $('#confirmBody').html("Are you sure you want to delete this post?");
                $('#confirmModal').modal('show');
                $('#confirmYesBtn').click(() => {
                    let postid = $(e.target).attr('id');
                    $.post("/deletepost", { postid: postid })
                        .done(function () { location.reload(); })
                        .fail(function () { alert('An error occurred.'); });
                });
                $('#confirmNoBtn').click(() => {
                    $('#confirmModal').modal('hide');
                });
            });
            $('.reportBtn').click((e) => {
                let postid = $(e.target).attr('id');
                $('#confirmBody').html("Are you sure you want to report this post?");
                $('#confirmModal').modal('show');
                $('#confirmYesBtn').click(() => {
                    let postid = $(e.target).attr('id');
                    $.post("/reportpost", { postid: postid })
                        .done(function () { 
                            $('#confirmModal').modal('hide');
                            $('#reportBody').html("Post successfully reported.");
                            // location.reload();
                            $('#reportModal').modal('show');
                            $('#donebtn').click(() => {
                                $('#reportModal').modal('hide');
                                location.reload();
                            });
                        })
                        .fail(function () { alert('An error occurred.'); });
                });
                $('#confirmNoBtn').click(() => {
                    $('#confirmModal').modal('hide');
                });
            });

        }

        $(document).ready(setup);
    </script>

    <!-- for testing: https://localhost:8888/timeline?firstLogin=True -->
    <!-- Modal -->
    <div id="firstTimeUser" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><strong>Success!</strong></h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body" id="test123">
                    Welcome to TigerLink! Your account has been successfully created. Please take a moment to
                    familiarize yourself with the navigation bar at the top. <br>

                    You can view posts on the Timeline and create them on the Post page. You'll be able to see your
                    matches
                    on the Matches tab when they are available, and you can always search for other TigerLink users. <br>

                    Enjoy!
                </div>
                <div class="modal-footer">
                    <a href="/timeline" class="btn btn-success mx-auto d-block">Got it!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Details Modal -->
    <div id="detailsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Details</h5>
                </div>
                <div class="modal-body" id="detailsBody">
                </div>
                <div class="modal-footer">
                    <a href="#" id="closeDetailsBtn" class="btn btn-success d-block">Done</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Deletion Modal -->
    <div id="confirmModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Confirm</h5>
                </div>
                <div class="modal-body" id="confirmBody">
                </div>
                <div class="modal-footer">
                    <button id="confirmYesBtn" class="btn btn-danger d-block">Yes</button>
                    <button id="confirmNoBtn" class="btn btn-secondary d-block">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Report Modal -->
    <div id="reportModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Post Reported.</h5>
                </div>
                <div class="modal-body" id="reportBody">
                </div>
                <div class="modal-footer">
                    <button id="donebtn" class="btn btn-danger d-block">Done</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
